.addrole {
    background: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 0.935rem;
    line-height: 1.4rem;
    letter-spacing: 0.05em;
    background-color: #0071CA;
    border-radius: 3rem;
    color: white;
    padding: 0.4rem 1.5rem;
}